html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
.body {
  background-color: hsl(0, 0%, 95%);
  display: grid;
  align-items: center;
  justify-content: center;

} 